services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    restart: always

  odoo:
    image: ${ODOO_IMAGE}
    depends_on:
      - db
    env_file: .env
    # ADDED PORTS SECTION BELOW
    ports:
      - "8069:8069"
      - "8072:8072"
    environment:
      - HOST=db
      - USER=${POSTGRES_USER}
      - PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - odoo-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./config:/etc/odoo
    restart: always

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN}
    # Link to odoo so it can resolve the 'odoo' hostname
    depends_on:
      - odoo

  prometheus:
    image: prom/prometheus
    # EXPOSED PORT SO YOU CAN SEE METRICS
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
    restart: always

volumes:
  odoo-data:
  odoo-db-data:
  grafana-data:
